

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1></h1></div>
   
    </div>

  <form enctype="multipart/form-data" class="form"  action="/edit-profile" method="post"  id="registrationForm" >
               


    <div class="row">
  		<div class="col-sm-2"><!--left col-->
              

      <div class="text-center">
      
      {{#if userData.image}}
      
        <img style="width: 150px; " src="/uploads/{{userData.image}}" class="avatar img-circle img-thumbnail" >
      {{else}}
      <img style="width: 150px; " src="/images/proPic.png" class="avatar img-circle img-thumbnail" >
      {{/if}}
        <h6>Upload a different photo...</h6>

           
        <input name="proImage" type="file" class="form-group text-center center-block file-upload ">
      </div></hr><br>

               
         
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted"> Menu <i class="fa fa-dashboard fa-1x"></i></li>
            <li  class="list-group-item text-right"> <span class="pull-left"><strong> <a href="/orders"> Orders</a> </strong></span> </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong><a href="/account-addresses"> Address</a> </strong></span> </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong><a href="account-password-change">Change Password </a> </strong></span> </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong><a href=""></a> </strong></span> </li>
          </ul> 
               
          {{!-- <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div> --}}
          
        </div><!--/col-3-->
    	<div class="col-sm-10">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
              
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
         
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Name</h4></label>
                              <input type="text" class="form-control" name="name" id="first_name" value="{{userData.name}}" required >
                          </div>
                      </div>
                  
          
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="phone" id="mobile" value="{{userData.phone}}" required >
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" value="{{userData.email}}" required >
                          </div>
                      </div>
                   
                   
                      {{!-- <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div> --}}
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button type="submit"  class="btn btn-lg btn-success" ><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               
                            </div>
                      </div>
    
              
        
              
             <!--/tab-pane-->
            
            
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


    
</div>

	</form>


</div>
<script defer src="https://cdn.crop.guide/loader/l.js?c=RCMLBT"></script>
      <link defer rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"   >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





  